
@model dashbord.Models.Doctor;


<div class="row">
    <div class="col-md-4">
        <h1>Add Doctor</h1>

        <form asp-controller="Doctor" asp-action="Create">
            @*@if (ViewBag.Massage != null)
        {
            <h5 class="alert alert-danger" role="alert">@ViewBag.Message</h5>
        }
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"> </div>*@

            @*<div class="form-group">
                <label asp-for="#" class="control-label">First Name </label>
                <input asp-for="#" type="text" class="form-control" required />
                <span asp-validation-for="#" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label class="control-label">First Name </label>
                <input asp-for="FirstName" type="text" class="form-control" required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Last name </label>
                <input asp-for="LastName" type="text" class="form-control" required />
                <span asp-validation-for="LastName"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">ID Number </label>
                <input asp-for="idNumber"  type="text" class="form-control" required />
                <span  asp-validation-for="idNumber" class="text-danger"></span>
            </div>

           
            <div class=" form-group">
                <label class="control-label">Phone </label>
                <input asp-for="phone" type="text" class="form-control" required />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class=" form-group">
                <label class="control-label">Specialization </label>
                <input asp-for="docSpecialization" type="text" class="form-control" required />
                <span asp-validation-for="docSpecialization"  class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-info" />
                <a asp-controller="Doctor" asp-action="Index" class="btn btn-outline-success">Back to List</a>
            </div>


        </form>
    </div>
</div>
