
@model dashbord.Models.Doctor;


<div class="row">
    <div class="col-md-4">
        <h1>Edit Clinic</h1>

        <form asp-action="Edit">
            @if (ViewBag.Massage != null)
            {
                <h5 class="alert alert-danger">@ViewBag.Message</h5>
            }
            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"> </div>

            <div class="form-group">
                <label asp-for="doctorId" class="control-label"></label>
                <input asp-for="doctorId" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label class="control-label">Name Clinic</label>
                <input asp-for="FirstName" type="text" class="form-control" required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Namber Room</label>
                <input asp-for="LastName" type="text" class="form-control" required />
                <span asp-validation-for="LastName" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label class="control-label">Nurse </label>
                <input asp-for="idNumber" type="text" class="form-control" required />
                <span asp-validation-for="idNumber" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label class="control-label">Nurse </label>
                <input asp-for="phone" type="text" class="form-control" required />
                <span asp-validation-for="phone" class="text-danger"></span>

            </div>
            
            <div class="form-group">
                <label class="control-label">Nurse </label>
                <input asp-for="docSpecialization" type="text" class="form-control" required />
                <span asp-validation-for="docSpecialization" class="text-danger"></span>

            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Ubdate" class="btn btn-info" />
                <a asp-action="Index" class="btn btn-outline-success">Back to List</a>
            </div>

            @*<input type="submit" value="Ubdate" calss="btn btn-success" />*@

        </form>
    </div>
</div>

@*@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@